body{
    margin: 0%;
}
table{
    height: 40vh;
    width: 40vh;
    
}
table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
}
th{
    background-color: aqua;
}
td{
    background-color: aquamarine;
}
table{
    text-align: center;
    margin-left: 40vh;
    margin-bottom: 30vh;
}
.menu{
    width: 3vh;
    height: 15vh;
    border: solid greenyellow;
    background-color: rgb(40, 193, 26);
    padding: 2vh;
    justify-content: space-between;

    
}
.menu :hover{
    background-color: rgb(167, 204, 222);

}
.menu a{
    height: 25px;
    max-width: 20px;
    text-align: center;
    border: 2px;
    border-collapse: separate;
    color: chartreuse;

}





